In [1]:
import pandas as pd

# Session 3: Data Analysis with Pandas

<img src="Assets/kung-fu-panda.jpg">

Learning objectives of today's session:
* Reading Parquet and CSV files into python
* Conditional selection of data
* Data summary
* Data manipulation and joins
* Writing results into Parquet and CSV
* Plots in python

## Chapter 1: What is Pandas?

Pandas is a Python library originally developed as a high performance, flexible framework to perform quantitative analysis on financial data

Data can be loaded into Python using pandas from following sources:
* Flat files
* Parquet files
* SQL databases (including TeraData)
* JSON
etc

In [37]:
## Loading Data in Pandas

data_frame = pd.read_csv("Assets/dataset_diabetes/dataset_diabetes/diabetic_data.csv", na_values='?')

c:\users\ishsx\documents\github\python-workshop\venv\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
data_frame.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

## Chapter 2: Working with Data-Frames

In [39]:
##List of columns in a data_frame
data_frame.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [40]:
#Types of columns in the data_frame
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             101766 non-null  object
 23  A1Cresult                 101766 non-null  object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [41]:
#Data Description for numerical data types
data_frame.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [42]:
#Selecting one column
admission_type_id = data_frame["admission_type_id"]

In [43]:
# admission_type_id.values
# admission_type_id.value_counts

In [44]:
#Selecting multiple columns
sub_frame = data_frame[["patient_nbr","admission_type_id", "time_in_hospital"]]
sub_frame

        patient_nbr  admission_type_id  time_in_hospital
0           8222157                  6                 1
1          55629189                  1                 3
2          86047875                  1                 2
3          82442376                  1                 2
4          42519267                  1                 1
...             ...                ...               ...
101761    100162476                  1                 3
101762     74694222                  1                 5
101763     41088789                  1                 1
101764     31693671                  2                10
101765    175429310                  1                 6

[101766 rows x 3 columns]

In [46]:
#Conditional subset

data_frame.loc[data_frame["admission_type_id"] == 3]

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
6,55842,84259809,Caucasian,Male,[60-70),NaN,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),NaN,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
14,62256,49726791,AfricanAmerican,Female,[60-70),NaN,3,1,2,1,...,No,Steady,No,No,No,No,No,No,Yes,>30
19,148530,69422211,NaN,Male,[70-80),NaN,3,6,2,6,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
24,216156,62718876,AfricanAmerican,Female,[70-80),NaN,3,1,2,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101740,443778398,134647673,Caucasian,Male,[40-50),NaN,3,1,1,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101749,443816024,106392411,Caucasian,Female,[70-80),NaN,3,6,1,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101750,443824292,138784172,Caucasian,Female,[80-90),NaN,3,1,1,3,...,No,Down,No,No,No,No,No,Ch,Yes,<30
101751,443835140,175326800,Caucasian,Male,[70-80),NaN,3,6,1,13,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101752,443835512,139605341,Other,Female,[40-50),NaN,3,1,1,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [50]:
#Multi Conditional subset

data_frame.loc[(data_frame["admission_type_id"] == 3)&(data_frame["race"] == "Caucasian")]

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
6,55842,84259809,Caucasian,Male,[60-70),NaN,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),NaN,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
36,325866,98427861,Caucasian,Female,[70-80),NaN,3,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,NO
45,464994,106936875,Caucasian,Female,[40-50),NaN,3,1,2,2,...,No,Steady,No,No,No,No,No,No,Yes,NO
46,486156,86240259,Caucasian,Female,[70-80),NaN,3,5,4,9,...,No,Down,No,No,No,No,No,Ch,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101737,443775086,125764160,Caucasian,Female,[40-50),NaN,3,1,1,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101740,443778398,134647673,Caucasian,Male,[40-50),NaN,3,1,1,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101749,443816024,106392411,Caucasian,Female,[70-80),NaN,3,6,1,3,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
101750,443824292,138784172,Caucasian,Female,[80-90),NaN,3,1,1,3,...,No,Down,No,No,No,No,No,Ch,Yes,<30
101751,443835140,175326800,Caucasian,Male,[70-80),NaN,3,6,1,13,...,No,Up,No,No,No,No,No,Ch,Yes,NO

In [58]:
#Iterating over dataset
for row_number, row_data in data_frame[:10].iterrows():
    print(row_data["patient_nbr"], row_data["insulin"])

8222157 No
55629189 Up
86047875 No
82442376 Up
42519267 Steady
82637451 Steady
84259809 Steady
114882984 No
48330783 Steady
63555939 Steady

## Chapter 3 : SQL Like Operations

In [79]:
#Group By
data_group = data_frame.groupby("gender")

In [80]:
data_group.first()

,encounter_id,patient_nbr,race,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
gender,,,,,,,,,,,,,,,,,,,,,
Female,2278392,8222157,Caucasian,[0-10),[50-75),6,25,1,1,MC,...,No,No,No,No,No,No,No,No,No,NO
Male,500364,82442376,Caucasian,[30-40),[75-100),1,1,7,2,MC,...,No,Up,No,No,No,No,No,Ch,Yes,NO
Unknown/Invalid,98634858,100695042,Other,[70-80),NaN,3,1,1,1,CP,...,No,No,No,No,No,No,No,Ch,Yes,NO

In [81]:
data_frame.loc[data_group.groups['Male'].values]
# Read More: https://realpython.com/pandas-groupby/

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),NaN,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),NaN,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),NaN,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101753,443841992,184875899,Other,Male,[40-50),NaN,1,1,7,13,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101759,443842778,86472243,Caucasian,Male,[80-90),NaN,1,1,7,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101761,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101763,443854148,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [83]:
#Join

admission_types = pd.read_excel("Assets/dataset_diabetes/dataset_diabetes/admission_types.xlsx")

In [87]:
pd.merge(data_frame, admission_types, on="admission_type_id")

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,description
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,NaN
1,1968528,720936,Caucasian,Female,[70-80),NaN,6,25,1,10,...,Down,No,No,No,No,No,Ch,Yes,>30,NaN
2,2040360,661014,Caucasian,Male,[60-70),NaN,6,25,7,9,...,Down,No,No,No,No,No,Ch,Yes,NO,NaN
3,2088630,1719279,Caucasian,Male,[40-50),NaN,6,25,7,11,...,No,No,No,No,No,No,Ch,Yes,>30,NaN
4,2091690,7919802,AfricanAmerican,Female,[40-50),NaN,6,25,7,6,...,No,No,No,No,No,No,No,No,NO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,343730600,141434069,Caucasian,Female,[80-90),NaN,7,11,7,1,...,Steady,No,No,No,No,No,No,Yes,NO,Trauma Center
101762,389059568,141433160,Caucasian,Female,[80-90),NaN,7,3,7,4,...,No,No,No,No,No,No,No,No,NO,Trauma Center
101763,402583472,141357506,AfricanAmerican,Male,[50-60),NaN,7,3,7,6,...,Steady,No,No,No,No,No,No,Yes,NO,Trauma Center
101764,403231316,141466478,Caucasian,Male,[10-20),NaN,7,6,7,9,...,No,No,No,No,No,No,No,No,NO,Trauma Center
101765,414312614,55774188,Caucasian,Female,[90-100),NaN,7,3,7,3,...,Steady,No,No,No,No,No,Ch,Yes,NO,Trauma Center

In [61]:
#Reading Parquet files with pandas
pd.read_parquet("Assets/Parquet Files/userdata1.parquet")

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2016-02-03 10:30:59,996,Dennis,Harris,dharrisrn@eepurl.com,Male,178.180.111.236,374288806662929,Greece,7/8/1965,263399.54,Editor,
996,2016-02-03 17:16:53,997,Gloria,Hamilton,ghamiltonro@rambler.ru,Female,71.50.39.137,,China,4/22/1975,83183.54,VP Product Management,
997,2016-02-03 05:02:20,998,Nancy,Morris,nmorrisrp@ask.com,,6.188.121.221,3553564071014997,Sweden,5/1/1979,NaN,Junior Executive,
998,2016-02-03 02:41:32,999,Annie,Daniels,adanielsrq@squidoo.com,Female,97.221.132.35,30424803513734,China,10/9/1991,18433.85,Editor,â€‹
999,2016-02-03 09:52:18,1000,Julie,Meyer,jmeyerrr@flavors.me,Female,217.1.147.132,374288099198540,China,,222561.13,,

[Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)